body {
  background-color: #eee;
  color: #006;
  font-family: verdana;
}

img {
  border: solid 2px white;
  padding: 2px;
  width: 300px;
  transition: transform 2s;
}

img:hover {
  border: solid 2px white;
  padding: 2px;
  transform: rotate(1080deg);
}

nav {
  padding: 4px;
  box-shadow: rgb(34, 44, 44);
}
